@font-face {
  font-family: "Upheaval";
  src: url(upheavtt.ttf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer viewport {
  html,
  body {
    @apply h-full w-full;
  }

  #__next {
    @apply relative h-full w-full overflow-auto;
  }

  .min-h-full-page {
    min-height: calc(100vh - 72px - 48px);
  }

  .prose {
    --tw-prose-links: #3D68AD !important;
  }

  .container {
    @apply px-4
  }
}
